.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
    padding: 0 15px;
}

.title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.title p {
    font-size: 14px;
}

.header .inner {
        display: flex;
        justify-content: space-between;
        line-height: 100px;
}

.header .gnb ul {
    display: flex;
    gap: 60px;  
}

.header .gnb ul>li {
    position: relative;
    white-space: nowrap;

}

.gnb ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 2px;
    height: 12px;
    background: #222;
    transform: translate(-50% , -50%);

}

.mainSlide .itm01 {
    background:url(../images/isaac01.jpg) no-repeat center center/cover;
    height: 700px;
}
.mainSlide .itm02 {
    background:url(../images/isaac02.jpg) no-repeat center center/cover;
    height: 700px;
}
.mainSlide .itm03 {
    background:url(../images/isaac03.jpg) no-repeat center center/cover;
    height: 700px;
}

.mainSlide .itm{
    position: relative;
}

.mainSlide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.mainSlide .slogan strong {
    display: block;
    font-size: 48px;
    font-weight: 800;
    margin: 0 0 24px 0;

    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.mainSlide .slogan p {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.mainVisual {
    position: relative;
}

.mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1400px;
    width: 100%;
}
.mainEvent .productSlide {
    margin: 0 -15px;
}

.mainVisual .arrows i {
    position: absolute;
    top: 0;

    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;

    border: 4px solid #fff;
    padding: 10px;
    border-radius: 50%;

    box-shadow: 1px 1px 0 #000;

    transform: translate(0, -50%);

    cursor: pointer;
}

.mainVisual .arrows .left {
    left: 0;
}

.mainVisual .arrows .right {
    right: 0;
}

.mainVisual .menu {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    gap: 24px;

    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.mainVisual .menu a {
    position: relative;
    display: block;
    padding: 0 40px 0 0;
    height: 24px;
    color: #fff;

}

.mainVisual .menu li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #333;
}

.mainVisual .menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #ff6347;

}

.mainVisual .menu li.on a::after {
    transition: 3s;
    width: 100%;
}

.mainVisual .num{
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, 0);
    color: #fff;

    font-size: 15px;
    font-weight: 700;

    text-shadow: 1px 1px 0 #000;

}

.mainEvent { 
    padding: 120px 0;
    background: #FF281E;
}

.mainEvent .content .img_box {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;

}

.mainEvent .title {
    text-align: center;
}

.mainEvent .title h2 {
    font-size: 100px;
    color: #fff;
}
.mainEvent .content figure {
    background: #fff;
    text-align: center;
    padding: 0 0 100px 0;
    border-radius: 36px;
    margin: 0 15px;
}


.mainEvent .content strong {
    display: block;
    margin: 0 0 14px 0;
    font-size: 18px;
    font-weight: 600;
}

.mainEvent .content p {
    line-height: 20px;
    word-break: keep-all;
    text-align: center;
    min-height: 40px;
    
}

.main2 {
    text-align: center;
    margin: 50px 0;
    padding: 100px;
}

.main2 h3 {
    font-size: 60px;
    margin: 0 0 50px 0;
    text-shadow: 1px 1px 0 #000;
    
}

.main2 p {
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    
}

.toTop {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 999;
}

.toTop i {
    
    background: #FF281E;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;

}

